.new {
    padding: 25px;
}

.container-more-news {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.more-news {
    display: flex;
    gap: 30px;
}

.img-principal-new {
    width: 100%;
    margin: 50px 0px;
}

.title-principal-new {
    font-weight: bold;
    font-size: 32px;
    color: #000
}


.title-more-new {
    font-size: 16px;
}

.date-new {
    width: 100%;
}

.text-new {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 25px;
}

.description-principal-new {
    margin-top: 30px;
    margin-bottom: 60px;
}

.title-more-new {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

@media only screen and (min-width: 768px) {
    .img-principal-new {
        width: 40%;
        height: 100%;
    }

    .container-more-news {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .text-new {
        text-align: center;
    }

    .principal {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #noticias h3 {
        text-align: center;
    }
    #noticias h1 {
        text-align: center;
    }
}